/* responsive formulaire */

@media screen and (min-width:310px) and (max-width:992px) {

    .groupe1 {
        display: flex;
    }
   .groupe1> .col-xs-4 {
            width: 170px;
            margin-left: 15px;
   }

    }